body{
    margin: 0;
    padding: 0;
}

header{
  background: #263238;
  width: 100%;
  height: 130px;
}

/*.videos{
    left: 20%;
    top: 40%;
    position: relative;
    transform: translate(-20%, -20%);

}

h5{
    color: #263238;
}

.caja-video{
    width: 80%;
    height: 400px;
    border: 1px solid#E3DDDC;;
    border-radius: 7px;
    padding: 9px 9px 9px 9px;
    margin: 9px;
    background: F7F1F0;
    box-shadow: 3px 3px 3px 3px;

}

.descripccion{
    width: 260px;
    height: 260px;
    position: relative;
    float: right;
    right: 130px;
    font-size: 18.8px;

}*/
.menu{
    float: right;
    right: 80px;
    position: relative;
    font-size: 18px;
    top: 50px;
}

.menu ul{
    display: block;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 7px;

}
.menu ul li a{
    text-decoration: none;
    padding: 8px;
    color: #6eddb8;

}

.menu ul li a:hover{
    color: #ffffff;
}

.logo{
    width: 130px;
    height: 100px;
    position: relative;
    left: 40px;
    top: 8px;
}

.boton{
    background: #3493ce;
    color: #ffffff;
    border: none;
    border-radius: 15px;
}
/*Agregamos la unidad vh para poner el máximo de la pantalla como límite de
la sección*/
.presentation
{
    background-color: #263238;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-content: center;
    text-align: center;
}
.courses
{
  background-color: white;
  margin: 0;
  padding: 25px 0 0 0;
  width: 100%;
  height: auto;
}
.titleCourses
{
  font-size: 72px;
  position: relative;
  color: white;
}
.presentation>img
{
  width: auto;
  height: 70vh;
}
article
{
  border: 1px dotted lightgrey;
  margin: 5px;
  width: 80%;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  left: 10%;
  position: relative;
  display: block;
}
.one>div
{
  width: 50%;
  position: relative;
}
.one>div>p
{
  font-size: 18px;
}
.two>div
{
  width: 50%;
  position: relative;
  left: 50%;
}
.two>div>p
{
  font-size: 18px;
}
footer
{
  box-sizing: border-box;
  margin: 10px 0 0 0;
  padding: 20px 45px;
  width: 100%;
  background-color: #263238;
}
.informacion
{
  width: 45%;
  color: aliceblue;
  position: relative;
  left: 0px;
  display: inline-block;
}
.redes
{
  width: 45%;
  color: aliceblue;
  position: relative;
  display: inline-block;
  left: 10%;
  text-align: right;
}

.redes a{
    text-decoration: none;
    color: aliceblue
}

footer h6{
    letter-spacing: 2;

}

footer i{
    padding: 9px;
}
